@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 80vw;
  height: 80vh;
  background: linear-gradient(to bottom, #f8f8f8, #cfcfcf);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  color: #383838;
}

section {
  width: 100%;
}

section.populated {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: scroll;
}

.starter-text {
  padding: 0 80px;
}

form {
  height: 70px;
  width: 100%;
  display: flex;
  border-top: #828282 solid 2px;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

input.question-box {
  width: 85%;
  padding: 10px;
  font-size: 16px;
  color: #383838;
  border: none;
  background-color: #fff;
}

input[type="submit"] {
  width: 15%;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: green;
}

input:focus {
  outline: none;
}

.loader {
  margin: 10px;
  width: 60px;
  aspect-ratio: 4;
  background: no-repeat radial-gradient(circle closest-side, #383838 90%, #0000)
      0 50%,
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 50% 50%,
    no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 60%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0%,
  100% {
    background-size: calc(100% / 3) 60%, calc(100% / 3) 60%, calc(100% / 3) 60%;
  }
  33% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 60%, calc(100% / 3) 60%;
  }
  50% {
    background-size: calc(100% / 3) 60%, calc(100% / 3) 100%, calc(100% / 3) 60%;
  }
  66% {
    background-size: calc(100% / 3) 60%, calc(100% / 3) 60%, calc(100% / 3) 100%;
  }
}

.bubble {
  margin: 8px;
  padding: 8px;
  font-size: 15px;
  border: none;
  color: #383838;
  box-shadow: #959da533 0 8px 24px;
  width: 80%;
  text-align: left;
}

.bubble.user {
  border-radius: 20px 20px 0 20px;
  background-color: #e1f4ffff;
  margin-left: auto;
}

.bubble.assistant {
  border-radius: 20px 20px 20px 0;
  background-color: #dce7ff;
}

.prompt-suggestion-row {
  width: 100%;
}

.prompt-suggestion-button {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  color: #383838;
  box-shadow: #959da533 0 8px 24px;
  cursor: pointer;
}
